.main {
    width: 1440px;
    .main__top {
        background: url('./img/Mainbg.jpg') center (center / cover) no-repeat;
        width: 1440px;
        height: 600px;
    }
    &__list {
        padding-top: 50px;
        margin-left: 149px;
        display: flex;
        width: 370px;
        list-style-type: none;
        font-size: 12px;
        color: white;
        justify-content: space-between;
        cursor: pointer;
        align-items: center;
        position: relative;

    }
    .main__ul_one::before {
        content: url('../ourCoffee/img/CoffeeBobsWhite.png');
        width: 35px;
        height: 35px;
        display: block;
        position: absolute;
        top: 28px;
        left: 0;
    }
    .main__logo {
        background: url('./img/Beanslogo\ \(white\).svg') center (center / cover) no-repeat;
        width: 200px;
        height: 35px;
        margin: 20px auto;
    }
    &__h2 {
        margin: 34px auto;
        text-align: center;
        color: white;
        font-size: 24px;
    }
    button {
        margin: 18px auto;
        width: 120px;
        height: 18px;
        background-color: transparent;
        display: flex;
        justify-content: center;
        color: white;
        border: 1px solid white;
        border-radius: 3px;
        font-size: 14px;
        align-items: center;

    }
    &__descr {
        height: 520px;
        padding-top: 80px;
        padding-bottom: 101px;
        &_title {
            font-size: 24px;
            text-align: center;
            padding-bottom: 20px;
        }
        &_line {
            background: url('./img/Beanslogo.png') center (center / cover) no-repeat;
            width: 200px;
            height: 35px;
            margin: 0 auto;
            margin-bottom: 34px;

        }
        &_descr {
            font-size: 14px;
            margin: 0 auto;
            width: 589px;
            text-align: center;
        }
    }
    .ourBest {
        background: url('./img/MainOurBest.jpg') center (center / cover) no-repeat;
        height: 495px;
        padding-top: 80px;
        padding-bottom: 110px;
        &__title {
            font-size: 24px;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 39px;
        }
        &__card {
            display: flex;
            margin-right: 320px;
            margin-left: 320px;
            justify-content: space-around;
            align-items: center;
        }
    }
}


